body {
    font-family: "Lora", serif;
    background-color: #fff8e7;
    color: #5c5a57;
  }
  
  .pad-the-body {
    margin-left: 8%;
    margin-right: 4%;
    text-align: right;
  }

.show-Errors {
  background-color:red;
  color: white;
}